[Unit]
Description=r7-server: stop unused Android HAL/app services (camera, biometrics, NFC, media framework, telephony, GNSS)
After=lxc@android.service
Requires=lxc@android.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/r7-disable-android-services

[Install]
WantedBy=multi-user.target
