Package: adaptation-samsung-r7
Version: 0.0.0+git20260720203123.c4c06d0.bookworm
Architecture: arm64
Maintainer: Yunus Tan <yunus.tan@outlook.com.tr>
Installed-Size: 9
Depends: adaptation-hybris-api33-phone, adaptation-samsung-r7-configs (= 0.0.0+git20260720203123.c4c06d0.bookworm)
Section: metapackages
Priority: optional
Description: Community adaptation for samsung-r7 - metapackage
X-Droidian-Vcs-Revision: c4c06d0fe5641ad08752294d51502863552085a7
X-Droidian-Vcs-Url: https://github.com/droidian-devices/adaptation-samsung-r7.git
